<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content" />
    <meta name="author" content="Devanka" />
    <meta name="robots" content="notranslate" />
    <meta name="google" content="notranslate" />

    <meta name="description" content="Multiplayer Survival Puzzle RPG. Play with friends!" />

    <meta property="og:title" content="Kulon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Multiplayer Survival Puzzle RPG. Play with friends!" />
    <meta property="og:image" content="/images/Kulon_Hero_1024.png" />
    <meta property="og:url" content="https://kulon.devanka.id" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Kulon" />
    <meta name="twitter:description" content="Multiplayer Survival Puzzle RPG. Play with friends!" />
    <meta name="twitter:alt" content="Kulon" />
    <meta name="twitter:image" content="/images/Kulon_Hero_1024.png" />
    <meta name="twitter:url" content="https://kulon.devanka.id" />

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/favicon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/favicon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/favicon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180x180.png" />
    
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/favicon-192x192.png" />
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />

    <meta name="msapplication-TileColor" content="#2d3048" />
    <meta name="msapplication-TileImage" content="/favicons/favicon-144x144.png" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <link rel="manifest" href="/favicons/manifest.json" />
    <meta name="theme-color" content="#2d3048" />

    <meta name="color-scheme" content="light dark" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/fontawesome.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/whiteboard-semibold.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/thumbprint-light.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/slab-press-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/slab-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-duotone-thin.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-duotone-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-duotone-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-duotone-light.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-thin.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-light.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/notdog-duo-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/notdog-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/jelly-fill-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/jelly-duo-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/jelly-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/etch-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/duotone-thin.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/duotone.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/duotone-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/duotone-light.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/thin.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/light.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/brands.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/chisel-regular.css" />

    <title>Kulon</title>
  </head>
  <body>
    <nav class="nav">
      <div class="btn btn-menu" data-menu="devanka761" role="button"><i class="fa-solid fa-bars"></i> Menu</div>
      <div class="nav-list">
        <a class="btn" href="#home"><i class="fa-solid fa-hashtag fa-fw"></i> Home</a>
        <a class="btn" href="#credits"><i class="fa-solid fa-hashtag fa-fw"></i> Credits</a>
        <a class="btn" href="#packages"><i class="fa-solid fa-hashtag fa-fw"></i> Dependencies</a>
        <a class="btn" href="#requirements"><i class="fa-solid fa-hashtag fa-fw"></i> System Requirements</a>

        <a class="btn br" target="_blank" href="https://devanka.id/x/kulon-strange-distric-guide" data-r="devanka761"><i class="fa-duotone fa-regular fa-up-right-from-square fa-fw"></i> Guide</a>
        <a class="btn" target="_blank" href="/editor" data-r="devanka761"><i class="fa-duotone fa-regular fa-up-right-from-square fa-fw"></i> Map Editor</a>

        <a class="btn br" target="_blank" href="/legal/license" data-r="devanka761"><i class="fa-duotone fa-regular fa-up-right-from-square fa-fw"></i> License</a>
        <a class="btn" target="_blank" href="/legal/terms" data-r="devanka761"><i class="fa-duotone fa-regular fa-up-right-from-square fa-fw"></i> Terms of Service</a>
        <a class="btn" target="_blank" href="/legal/privacy" data-r="devanka761"><i class="fa-duotone fa-regular fa-up-right-from-square fa-fw"></i> Privacy Policy</a>
      </div>
    </nav>
    <div class="app">
      <div class="main" id="main">
        <section class="sect para" id="home">
          <div class="outer">
            <div class="card">
              <canvas class="icon" width="112" height="112"></canvas>
              <div class="title">
                <h1>KULON</h1>
                <p>Multiplayer Survival Puzzle</p>
                <p>Play with friends</p>
              </div>
              <div class="actions">
                <a href="/app" class="btn"><i class="fa-solid fa-right-to-bracket fa-fw"></i> PLAY NOW</a>
                <a href="/#install" class="btn hide anim" id="btn-install"><i class="fa-duotone fa-regular fa-mobile"></i> INSTALL</a>
                <a class="btn joined" href="/editor" target="_blank"><i class="fa-duotone fa-regular fa-up-right-from-square fa-fw"></i> KULON MAP EDITOR</a>
              </div>
            </div>
            <div class="author">
              <p><a href="https://devanka.id" target="_blank">Devanka761</a>'s Kulon v<%= version %></p>
              <p>A web-based multiplayer game</p>
            </div>
            <div class="toplang">
              <p>Written in<% for(const lang of langs) { %> <i><%= lang.id + ' ' + lang.val %></i><% } %></p>
              <p>Repository: <a href="https://github.com/devanka761/kulon" target="_blank" rel="noopener noreferrer">github/devanka761/kulon</a></p>
            </div>
          </div>
        </section>
        <section class="sect" id="credits">
          <div class="box">
            <div class="cre">
              <img src="/images/Kulon.png" alt="Kulon" width="200" />
            </div>
            <div class="cre">
              <p>This web-based game was made for educational purposes only. Written in <a href="https://www.typescriptlang.org" target="_blank">TypeScript</a>. Uses <a href="https://nodejs.org" target="_blank">Node.js</a>, <a href="https://expressjs.com" target="_blank">Express</a>, <a href="https://github.com/coturn/coturn" target="_blank">Corturn</a>, <a href="https://midtrans.com/id" target="_blank">Midtrans</a>, <a href="https://nodemailer.com" target="_blank">Nodemailer</a>, <a href="https://sass-lang.com" target="_blank">SASS</a>, and <a href="https://webpack.js.org" target="_blank">Webpack</a>. Running on <a href="https://ubuntu.com/server" target="_blank">Ubuntu</a> and uses <a href="https://git-scm.com" target="_blank">Git</a> to control its version. <a href="https://www.aseprite.org" target="_blank">Aseprite</a> and <a href="https://www.mapeditor.org" target="_blank">Tiled</a> were used for creating maps, artwork, and image assets. <a href="https://www.image-line.com" target="_blank">FL Studio</a> played a major role in mastering the background music and sound effects.</p>
            </div>
            <div class="cre">
              <p>Most of the assets used are licensed for commercial use, and have been legally purchased and utilized in compliance with their respective license terms. Modifications have been made where necessary to meet the needs of this web app. Redistribution of these assets outside the context of this project is not permitted.</p>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-star"></i>
                  </span>
                  <a href="https://limezu.itch.io/modernexteriors" target="_blank" rel="noopener noreferrer">Modern Exteriors</a> by 
                  <a href="https://limezu.itch.io" target="_blank" rel="noopener noreferrer">LimeZu</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-star"></i>
                  </span>
                  <a href="https://limezu.itch.io/moderninteriors" target="_blank" rel="noopener noreferrer">Modern Interiors</a> by 
                  <a href="https://limezu.itch.io" target="_blank" rel="noopener noreferrer">LimeZu</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-star"></i>
                  </span>
                  <a href="https://limezu.itch.io/modernuserinterface" target="_blank" rel="noopener noreferrer">Modern User Interface</a> by 
                  <a href="https://limezu.itch.io" target="_blank" rel="noopener noreferrer">LimeZu</a>
                </li>
              </ul>
            </div>
            <div class="cre">
              <p>The background music used in this project is available for free under Fair Use. Please support the original creators by visiting their profiles or official pages.</p>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Ambient Horror Indie Game Music by 
                  <a href="https://crowshade.itch.io/horror-music-pack" target="_blank" rel="noopener noreferrer">Crow Shade</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Distant Bajo & Playful by 
                  <a href="https://store.steampowered.com/app/440820/Stardew_Valley_Soundtrack" target="_blank" rel="noopener noreferrer">Concerned Ape's Stardew Valley</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Spring Forest Nature by 
                  <a href="https://pixabay.com/sound-effects/spring-forest-nature-332842" target="_blank" rel="noopener noreferrer">SoundReality</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Spring Forest Nature 2 by 
                  <a href="https://pixabay.com/sound-effects/spring-forest-nature-2-377741" target="_blank" rel="noopener noreferrer">SoundReality</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Birds Singing In A Forest by 
                  <a href="https://www.chosic.com/download-audio/27950" target="_blank" rel="noopener noreferrer">chosic.com's Sound Effects</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Nature - Gentle Stream and Birds by 
                  <a href="https://pixabay.com/id/sound-effects/nature-gentle-stream-and-birds-401083" target="_blank" rel="noopener noreferrer">RickMagee</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Calm Ocean Waves With Little Bird Song by 
                  <a href="https://www.chosic.com/download-audio/27955" target="_blank" rel="noopener noreferrer">chosic.com's Sound Effects</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  201207 Urban quiet ambience, city rumble, birds, cold, heating, airplane, roof 9am by 
                  <a href="https://pixabay.com/sound-effects/201207-urban-quiet-ambience-city-rumble-birds-cold-heating-airplane-roof-9am-18749" target="_blank" rel="noopener noreferrer">TRP (Freesound)</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Ambience Wind Blowing Through Trees 01 by 
                  <a href="https://pixabay.com/sound-effects/ambience-wind-blowing-through-trees-01-186986" target="_blank" rel="noopener noreferrer">Traian1984</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Quiet Computer Fan by 
                  <a href="https://pixabay.com/sound-effects/quiet-computer-fan-25659" target="_blank" rel="noopener noreferrer">EagleStealthTeam (Freesound)</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-music"></i>
                  </span>
                  Hearbeat by 
                  <a href="https://pixabay.com/id/sound-effects/hearbeat-71701" target="_blank" rel="noopener noreferrer">JasperL91 (Freesound)</a>
                </li>
              </ul>
            </div>
            <div class="cre">
              <p>Sound effects and sound banks used in this game were obtained from various game assets. These games were legally purchased, though the sound effects and sound banks themselves were not explicitly included as separate licensed materials. However, since the specific terms of commercial use are not clearly stated by the original publishers, we strive to ensure the fair and respectful use of all included materials.</p>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-compact-disc"></i>
                  </span>
                  <a href="https://store.steampowered.com/app/413150/Stardew_Valley" target="_blank" rel="noopener noreferrer">Stardew Valley</a>
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fa-regular fa-compact-disc"></i>
                  </span>
                  <a href="https://store.steampowered.com/app/3240220/Grand_Theft_Auto_V_Enhanced" target="_blank" rel="noopener noreferrer">Grand Theft Auto V</a>
                </li>
              </ul>
              <p>If you are a rights holder and have any questions or concerns regarding the inclusion of your work, please don't hesitate to contact us.</p>
            </div>
            <div class="cre">
              <p>All problems can be reported via email <a href="mailto:contact@devanka.id">contact@devanka.id</a> or direct message on <a href="https://devanka.id/discord">Discord</a>.</p>
            </div>
          </div>
        </section>
        <section class="sect para" id="packages">
          <div class="outer">
            <div class="box">
              <p><strong>Production Packages</strong></p>
              <div class="cre">
                <% for (const dep of prodPackages) { %>
                  <a class="dep" href="https://www.npmjs.com/package/<%= dep %>" target="_blank"><%= dep %></a>
                <% } %>
              </div>
              <br />
              <p><strong>Development Packages</strong></p>
              <div class="cre">
                <% for (const dep of devPackages) { %>
                  <a class="dep" href="https://www.npmjs.com/package/<%= dep %>" target="_blank"><%= dep %></a>
                <% } %>
              </div>
              <br />
              <p><strong>System-level Packages</strong></p>
              <div class="cre">
                <% for (const dep of sysPackages) { %>
                  <a class="dep" href="<%= dep.url %>" target="_blank"><%= dep.id %></a>
                <% } %>
              </div>
            </div>
          </div>
        </section>
        <section class="sect" id="requirements">
          <div class="box">
            <h3 class="req-title center">
              System Requirements
            </h3>
            <br/>
            <div class="req-content">
              <div class="cre">
                <p>Minimum:<br/><i>able to play with max of 2 peers/players</i></p>
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li">
                      <i class="fa-duotone fa-light fa-display fa-fw"></i>
                    </span>
                    Browser: All Major Modern Browser
                  </li>
                  <li>
                    <span class="fa-li">
                      <i class="fa-duotone fa-light fa-memory fa-fw"></i>
                    </span>
                    Memory: 1 GB RAM
                  </li>
                  <li>
                    <span class="fa-li">
                      <i class="fa-duotone fa-light fa-hard-drive fa-fw"></i>
                    </span>
                    Storage: -
                  </li>
                </ul>
              </div>
              <div class="cre">
                <p>Recommended:<br/><i>able to play with max of 10 peers/players</i></p>
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li">
                      <i class="fa-duotone fa-light fa-computer fa-fw"></i>
                    </span>
                    Desktop: Chrome ^17 2012 / Firefox ^22 2013 / Safari ^11.2 2017
                  </li>
                  <li>
                    <span class="fa-li">
                      <i class="fa-duotone fa-light fa-mobile fa-fw"></i>
                    </span>
                    Mobile: Chrome ^45 2015 / Safari ^11.1 2018
                  </li>
                  <li>
                    <span class="fa-li">
                      <i class="fa-duotone fa-light fa-memory fa-fw"></i>
                    </span>
                    Memory: 2 GB RAM
                  </li>
                  <li>
                    <span class="fa-li">
                      <i class="fa-duotone fa-light fa-hard-drive fa-fw"></i>
                    </span>
                    Storage: 128 MB free space (69 MB cached assets included)
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="sect" id="footer">
          <div class="links">
            <a href="https://www.linkedin.com/in/dvnkz" target="_blank"><i class="fa-brands fa-linkedin"></i> dvnkz</a>
            <a href="https://github.com/devanka761" target="_blank"><i class="fa-brands fa-github"></i> devanka761</a>
            <a href="https://devanka.id/discord" target="_blank"><i class="fa-brands fa-discord"></i> Codemate Resort</a>
            <a href="https://youtube.com/@devanka761" target="_blank"><i class="fa-brands fa-youtube"></i> Devanka 761</a>
            <a href="mailto:contact@devanka.id" target="_blank"><i class="fa-solid fa-envelope"></i> contact@devanka.id</a>
          </div>
          <div class="author">
            <p><span class="copyleft"><i class="fa-sharp-duotone fa-solid fa-copyright"></i></span> <%= new Date().getFullYear().toString() %> <a href="https://devanka.id" target="_blank" class="nodec">Devanka761</a><br/>Kulon</p>
            <br/>
            <p>Licensed Under<br/><a href="/legal/license" target="_blank" class="nodec">The GNU General Public License v3.0</a></p>
            <br/>
            <p>Jl. Kalimantan X No. 157<br/>Sumber Sari, Jember, Jawa Timur - 68121</p>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>